body {
  font-family: "DM Sans", sans-serif;
  background-color: #f4f7fe;
}

.car-animation {
  position: absolute;
  top: 77%;
  left: -20%;
  width: 200px; /* Adjust size as needed */
  transform: translateY(-50%);
  animation: moveCar 12s linear infinite;
}

@keyframes moveCar {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}

.newStyle {
  transition: top 0.5s ease;
}
